/.vs/CollaborationTest/FileContentIndex/436c139e-f46f-48b2-aac2-918528f87991.vsidx
/.vs/CollaborationTest/FileContentIndex/7b79d56d-3095-4b68-a026-67dd68d2e148.vsidx
/.vs/CollaborationTest/FileContentIndex/93517515-c629-4787-a567-5f1c15fafab1.vsidx
/.vs/CollaborationTest/FileContentIndex/9ddbbebe-9df7-46d4-929d-a94120ecdadc.vsidx
/.vs/CollaborationTest/FileContentIndex/read.lock
/.vs/CollaborationTest/v17/.suo
/CollaborationTest.sln
/CollaborationTest/.config/dotnet-tools.json
/CollaborationTest/Content/bin/DesktopGL/Content/icon.xnb
/CollaborationTest/Content/obj/DesktopGL/net6.0/Content/.mgcontent
/CollaborationTest/Content/obj/DesktopGL/net6.0/Content/.mgstats
/CollaborationTest/Content/obj/DesktopGL/net6.0/Content/icon.mgcontent
/CollaborationTest/app.manifest
/CollaborationTest/bin/Debug/net6.0/CollaborationTest.deps.json
/CollaborationTest/bin/Debug/net6.0/CollaborationTest.dll
/CollaborationTest/bin/Debug/net6.0/CollaborationTest.exe
/CollaborationTest/bin/Debug/net6.0/CollaborationTest.pdb
/CollaborationTest/bin/Debug/net6.0/CollaborationTest.runtimeconfig.json
/CollaborationTest/bin/Debug/net6.0/Content/icon.xnb
/CollaborationTest/bin/Debug/net6.0/MonoGame.Framework.dll
/CollaborationTest/bin/Debug/net6.0/runtimes/linux-x64/native/libSDL2-2.0.so.0
/CollaborationTest/bin/Debug/net6.0/runtimes/linux-x64/native/libopenal.so.1
/CollaborationTest/bin/Debug/net6.0/runtimes/osx/native/libSDL2.dylib
/CollaborationTest/bin/Debug/net6.0/runtimes/osx/native/libopenal.1.dylib
/CollaborationTest/bin/Debug/net6.0/runtimes/win-x64/native/SDL2.dll
/CollaborationTest/bin/Debug/net6.0/runtimes/win-x64/native/soft_oal.dll
/CollaborationTest/bin/Debug/net6.0/runtimes/win-x86/native/SDL2.dll
/CollaborationTest/bin/Debug/net6.0/runtimes/win-x86/native/soft_oal.dll
/CollaborationTest/obj/CollaborationTest.csproj.nuget.dgspec.json
/CollaborationTest/obj/CollaborationTest.csproj.nuget.g.props
/CollaborationTest/obj/CollaborationTest.csproj.nuget.g.targets
/CollaborationTest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/CollaborationTest/obj/Debug/net6.0/CollaborationTest.AssemblyInfo.cs
/CollaborationTest/obj/Debug/net6.0/CollaborationTest.AssemblyInfoInputs.cache
/CollaborationTest/obj/Debug/net6.0/CollaborationTest.GeneratedMSBuildEditorConfig.editorconfig
/CollaborationTest/obj/Debug/net6.0/CollaborationTest.assets.cache
/CollaborationTest/obj/Debug/net6.0/CollaborationTest.csproj.AssemblyReference.cache
/CollaborationTest/obj/Debug/net6.0/CollaborationTest.csproj.BuildWithSkipAnalyzers
/CollaborationTest/obj/Debug/net6.0/CollaborationTest.csproj.CopyComplete
/CollaborationTest/obj/Debug/net6.0/CollaborationTest.csproj.CoreCompileInputs.cache
/CollaborationTest/obj/Debug/net6.0/CollaborationTest.csproj.FileListAbsolute.txt
/CollaborationTest/obj/Debug/net6.0/CollaborationTest.dll
/CollaborationTest/obj/Debug/net6.0/CollaborationTest.genruntimeconfig.cache
/CollaborationTest/obj/Debug/net6.0/CollaborationTest.pdb
/CollaborationTest/obj/Debug/net6.0/apphost.exe
/CollaborationTest/obj/Debug/net6.0/ref/CollaborationTest.dll
/CollaborationTest/obj/Debug/net6.0/refint/CollaborationTest.dll
/CollaborationTest/obj/project.assets.json
/CollaborationTest/obj/project.nuget.cache
